@model IEnumerable<E_Bank_FinalProject.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";
}


<link rel="stylesheet" href="~/css/side.css" asp-append-version="true" />

<div class="wrapper">
    <nav id="sidebar" class="px-3">
        <ul class="list-unstyled components">
             <li>
                <a asp-controller="Accounts" asp-action="Dashboard">Dashboard</a>
            </li>
            <li>
                <a asp-controller="Users" asp-action="MyProfile">My profile</a>
            </li>
            <li>
                <a asp-controller="Accounts" asp-action="Index">Accounts</a>
            </li>
            <li>
                <a asp-controller="CreditCards" asp-action="Index">Credit cards</a>
            </li>
            <li>
                <a asp-controller="Transactions" asp-action="Index">Transactions</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="bg-light px-4">
        <h3 class="pt-3">Transactions: </h3>
        <hr />

        @using (Html.BeginForm("Filter","Transactions",FormMethod.Post))
        {
            <input type="text" placeholder=" Filter transactions by transaction type " class="w-100 m-2" name="filterBy" />
            <input type="submit" value="Filter" class="btn btn-dark w-100 m-2" />
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionType)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account.AccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionType)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
