@model IEnumerable<E_Bank_FinalProject.Models.User>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/side.css" asp-append-version="true" />

<div class="wrapper">
    <nav id="sidebar" class="px-3">
        <ul class="list-unstyled components">
            <li>
                <a asp-controller="Users" asp-action="Index">Users</a>                        
            </li>
             
        </ul>       
    </nav>

    <!-- Page Content  -->
    <div id="content" class="bg-light px-4">
    

<h3 class="pt-3">Users:</h3>

   <hr />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a style="color:#0d6efd" asp-action="Delete" asp-route-id="@item.UserID">Remove user</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>